<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
	<link href="/iCheck/skins/minimal/blue.css" rel="stylesheet" />
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="/javascripts/moment.js"></script>
</head>
<body>
	<div class="g-header">
		<div class="m-header-con">

		</div>
	</div>
	<div class="g-leftbar">
		<ul class="m-menu">
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-file"></span> 文章</a></li>
			<ul class="m-menu-child">
				<li><a href="/admin/post-list">所有文章</a></li>
				<li><a href="/admin/post-new">添加文章</a></li>
				<li><a href="/admin/cate-list">分类目录</a></li>
				<li><a href="">标签</a></li>
			</ul>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-comment"></span> 评论</a></li>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span> 用户</a></li>
			<ul class="m-menu-child">
				<li><a href="/user/list">所有用户</a></li>
				<li><a href="/user/new">添加用户</a></li>
				<li><a href="/user">个人资料</a></li>
			</ul>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-wrench"></span> 设置</a></li>
		</ul>
	</div>
	<div class="g-main">