<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="g-header">
		<div class="m-header-con">
		
		</div>
	</div>
	<div class="g-leftbar">
		<ul class="m-menu">
			<li><a href=""><span class="glyphicon glyphicon-search"></span> 文章</a></li>
			<li><a href=""><span class="glyphicon glyphicon-search"></span> 文章</a></li>
			<li><a href=""><span class="glyphicon glyphicon-search"></span> 文章</a></li>
			<li><a href=""><span class="glyphicon glyphicon-search"></span> 文章</a></li>
		</ul>
	</div>
	<div class="g-main">