<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="g-header">
		<div class="m-header-con">
		
		</div>
	</div>
	<div class="g-leftbar">
		<ul class="m-menu">
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-file"></span> 文章</a></li>
			<ul class="m-menu-child">
				<li><a href="">所有文章</a></li>
				<li><a href="/admin/post-new">添加文章</a></li>
				<li><a href="">分类目录</a></li>
				<li><a href="">标签</a></li>
			</ul>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-comment"></span> 评论</a></li>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span> 用户</a></li>
			<ul class="m-menu-child">
				<li><a href="">所有用户</a></li>
				<li><a href="">添加用户</a></li>
				<li><a href="">个人资料</a></li>
			</ul>
			<li><a href="javascript:void(0);"><span class="glyphicon glyphicon-wrench"></span> 设置</a></li>
		</ul>
	</div>
	<div class="g-main"  data-spy="scroll" data-target=".navbar">