<form action="/upload/upload-pic" enctype="multipart/form-data" method="post">
	<input type="file" name="upload1">
<!-- 	<input type="file" name="upload2">
<input type="file" name="upload3">
<input type="file" name="upload4">-->
<input type="file" name="upload5"> 
	<input type="submit" value="提交">
</form>