<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="g-header">
		<div class="m-header-con">
			<div class="u-logo f-fl"><a href="/"><img src="/images/logo_index.png" alt=""></a></div>
			<ul class="u-menu f-fl">
				<li><a href="">编程语言</a></li>
				<li><a href="">数据库</a></li>
				<li><a href="">随笔</a></li>
				<li><a href="">娱乐</a></li>
			</ul>
			<ul class="u-header-link f-fr">
				<li><a href="#" title="关于我"><span class="glyphicon glyphicon-send"></span></a></li>
				<li><a href="#" title="给我留言"><span class="glyphicon glyphicon-comment"></span></a></li>
			</ul>
		</div>
	</div>
	<div class="g-container">
		<div class="g-main">