		</div>
	</div>
	<div class="g-footer">
		<div class="g-foot-content">		
			<div class="m-foot-info f-fl"></div>
			<ul class="m-foot-link f-fl">
				<li><a href="#">网站首页</a></li>
				<li><a href="#">内容招募</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">人才招聘</a></li>
				<li><a href="#">意见反馈</a></li>
				<li><a href="#">专题页面</a></li>
				<li><a href="#">友情链接</a></li>
			</ul>
			<div class="m-foot-sns f-fl"></div>
		</div>
	</div>
</body>
</html>