<div class="m-rightbar f-fr">
	<div class="m-right-content" id="float">	
		<div class="u-avatar f-fl">
			<% if(user){ %>
			<img src="http://www.gravatar.com/avatar/<%= user.email.md5 %>?size=220" alt="sorvey" />
			<% }else{ %>
			<img src="http://www.gravatar.com/avatar/4a3d6da8a223c4266e3c04fddc5e4fac?size=220" alt="sorvey" />
			<% } %>
		</div>
		<div class="u-introduction f-fl">
			<div class="u-me">Sorvey</div>
			<div class="u-tag">web前端工程师<br/>php开发工程师</div>
		</div>
	</div>
</div>